.description-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description-card img{
    width: 70px;
    height: 70px;
}
.description-card span{
    font-size:smaller;
    max-width: 200px;
    text-align: center;
}