@import url('../../index.css');
.header{
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    padding-right: 150px;
    padding-left: 150px;
    background: linear-gradient(30deg, transparent, #a93f0b 97%);
    backdrop-filter: blur(10px);
    
}

.header ul{
    width: 45%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: auto;
}